name: docs-check

on:
  pull_request:
    paths:
      - "docs/**"
      - ".github/**"
      - ".vscode/**"

jobs:
  markdownlint:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4

      - name: Markdown lint
        uses: DavidAnson/markdownlint-cli2-action@v18
        with:
          globs: |
            docs/**/*.md
            .github/**/*.md
